.Toastify__toast-theme--dark {
	background-color: #1e2128;
}

// styles for the text editor Editor.js
.EditorToolbar {
	.rdw-option-wrapper,
	.rdw-dropdown-wrapper {
		box-shadow: none;
		border: none;
		background-color: #f0f0f0;
		&:hover {
			border: none;
			box-shadow: none;
		}
	}
	.rdw-option-active {
		img {
			filter: invert(1);
		}
		background-color: #323747;
	}
}

.order-status-admin {
	fieldset {
		display: none;
	}
	svg {
		display: none;
	}
}
input.MuiInputBase-input {
	padding: 15px !important;
}

img {
	user-select: none;
}
.smooth-scroll {
	scroll-behavior: smooth;
}

// hide the ordering buttons on the first and last row
.variant_row:first-child .up-ordering {
	opacity: 0;
	pointer-events: none;
}
.variant_row:last-child .down-ordering {
	opacity: 0;
	pointer-events: none;
}

#product-image {
	transition: opacity 0.5s ease-in-out;
}

#product-image.fade-out {
	opacity: 0;
}

hr.dashed {
	border: none;
	border-top: 1px dashed #bfbfbf;
	height: 0;
	margin: 12px auto;
}
